
*.lock

AVLTree/.vs/AVLTree/v15/.suo
*.pdb
*.ide
*.cache
AVLTree/.vs/AVLTree/v15/Server/sqlite3/storage.ide-wal
*.dll
AVLTree/.vs/AVLTree/DesignTimeBuild/.dtbcache
AVLTree/.vs/AVLTree/v15/.suo
AVLTree/.vs/AVLTree/v15/Server/sqlite3/storage.ide-shm
AVLTree/.vs/AVLTree/v15/Server/sqlite3/storage.ide-wal
*.dll
*.pdb
AVLTree/AVLTree.Tests/bin/Debug/netcoreapp2.1/nunit_random_seed.tmp
